* {
  box-sizing: border-box;
  margin: 0;
}
body,
html {
  height: 100%;
}
.conteiner {
  width: 100%;
  height: 100%;
  background: url("../image/hisma-desert-cover.jpg") no-repeat center center
    fixed;
  background-size: cover;
  position: relative;
  /* filter: blur(3px); */
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  z-index: 2;
  text-align: center;
  min-width: 850px;
}
form {
  display: flex;
  flex-direction: column;
}
h1 {
  color: white;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}
.forms-title {
  color: black;
  background-color: #d8dfe070;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.forms {
  display: flex;
  justify-content: space-between;
  
}
.forms-left {
  min-width: 410px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-right: 30px;
}
input {
  margin-bottom: 20px;
  background-color: #d8dfe070;
  border: 2px solid #ffffff11;
  padding: 15px;
  border-radius: 10px;
}
input::-webkit-input-placeholder {
  color: black;
}
input:focus{
  box-shadow: 10px 10px 10px #d6181811;
  outline-style: none;
  box-shadow: 0 0 20px rgb(66, 10, 10);
}

input:last-child {
  margin-bottom: 0;
}

input[type=email]:invalid:focus-visible {
  border: 4px solid red;
  margin-bottom: 15px;
}

input[type=email]:valid:focus-visible{
  border: none;
}
.forms-right {
  min-width: 410px;
}

textarea {
  background-color: #d8dfe070;
  border: 2px solid #ffffff11;
  border-radius: 10px;
  outline-style: none
}
textarea::-webkit-input-placeholder {
  color: black;
  padding: 15px 0 0 15px;
}
textarea:focus {
  background-color: #d8dfe070;
  box-shadow: 0 0 20px rgb(66, 10, 10);
}
button {
  padding: 10px 25px;
  max-width: 120px;
  border-radius: 10px;
  border: 2px solid white;
  background-color: rgb(41, 40, 40);
  color: white;
  font-size: 15px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(8%, 130%);
}
